<html>
<head>
	{% load staticfiles %}
<link rel="apple-touch-icon" sizes="750x1334" href="{% static 'traffic/images/icon.png' %}">
<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"><meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection"content="telephone=no, email=no" />
<link rel="apple-touch-startup-image" sizes="750x1294" href="{% static 'traffic/images/StartUp.jpg' %}" />
<script src="http://webapi.amap.com/maps?v=1.3&key=5fdc070a2621a29e4d8ef4a093209954" type="text/javascript"></script>
<title>路路通</title>
</head>
<body>
123
</body>
</html>